<div class="save">
  <button ng-click="save()" class="btn btn-primary">Save</button>
</div>

<div class="well"> 
  <fieldset>
    <legend><h3>.NET</h3></legend>
    <div class="form-group">
      <label for="proj" class="control-label">Project or Solution</label>
      <div class="controls">
        <input id="proj" class="input-xxlarge" placeholder="project.sln" ng-model="config.projectFile">
        <p class="help-block">
        If no project or solution is specified, <code>msbuild</code> will attempt to build a file with an extension that ends in <em>proj</em>.
        If there is not <strong>exactly one</strong> file with an extension that ends in <em>proj</em>, the build will fail.
        </p>
      </div>
    </div>
    <h4>NuGet Options</h4>
    <div class="form-group">
      <div class="controls">
        <label id="nuget" class="checkbox">
          <input type="checkbox" ng-model="config.restorePackages" ng-change="save()">
          Restore NuGet Packages before running <code>msbuild</code>
        </label>
        <select id="nuget" ng-change="save()" ng-model="config.restoreMethod" ng-hide="!config.restorePackages" ng-options="value for value in ['Whatever', 'Project', 'Custom']"></select>
        <br />
        <input class="input-xlarge" ng-model="config.customRestoreFile" ng-hide="!config.restorePackages || config.restoreMethod != 'Custom'">
        <p class="help-block" ng-hide="!config.restorePackages">
          If <em>Whatever</em> is selected, strider will not pass anything to nuget.exe</br>
          If <em>Project</em> is selected, strider will pass the project or solution specified above to nuget.exe<br/>
          If <em>Custom</em> is selected, you can specify the file to pass to nuget.exe
        </p>
      </div>
    </div>
	  <div class="form-group" ng-hide="!config.restorePackages">
      <label for="package-sources" class="control-label">Package Sources</label>
      <div class="controls">
        <div id="package-sources" class="form-inline">
          <input placeholder="https://www.nuget.org/api/v2/" ng-model="new_package_source">
          <button class="btn btn-primary" ng-disabled="!new_package_source" ng-click="addPackageSource()">Add</button>
        </div>
        <p class="help-block">
          Specify sources to use to restore nuget packages.
        </p>
      </div>
      <ul class="targets unstyled">
        <li ng-repeat="item in config.packageSources">
          <span class="remove">
            <span class="clickable" ng-click="removePackageSource($index)">
              <i class="fa fa-times"></i>
            </span>
          </span>
          [[ item ]]
        </li>
        <li ng-hide="config.packageSources.length"><em>No custom package sources specified.</em> <code>nuget.org</code> <em>will be used.</em></li>
      </ul>
    </div>
    <h4>AssemblyVersion Patching</h4>
    <div class="form-group">
      <div class="controls">
        <label id="assemblyVersion" class="checkbox">
          <input type="checkbox" ng-model="config.patchAssemblyVersions" ng-change="save()">
          Set AssemblyVersion attributes
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="controls" ng-show="config.patchAssemblyVersions">
        <label for="assemblyVersionAttribute" class="control-label">AssemblyVersion</label>
        <input id="assemblyVersionAttribute" class="input-xlarge" ng-model="config.assemblyVersion">
        <br />
        <p class="help-block">
          <code>AssemblyVersion</code> must be of the form <code>1.2.3.4</code>  
        </p>
        <label for="assemblyFileVersionAttribute" class="control-label">AssemblyFileVersion</label>
        <input id="assemblyFileVersionAttribute" class="input-xlarge" ng-model="config.assemblyFileVersion">
        <br />
        <p class="help-block">
          <code>AssemblyFileVersion</code> must be of the form <code>1.2.3.4</code>  
        </p>
        <label for="assemblyInformationalVersion" class="control-label">AssemblyInformationalVersion</label>
        <input id="assemblyInformationalVersion" class="input-xlarge" ng-model="config.assemblyInformationalVersion">
        <br />
        <p class="help-block">
          <code>AssemblyInformationalVersion</code> can contain anything, but it should be your product version. <br />
          For instance, if you are creating a nuget package, and releasing <code>1.0.3-alpah3</code>, you should set the 
          <code>AssemblyInformationalVersion</code> to <code>1.0.3-alpah3</code>  
        </p>
      </div>
      <label for="version-files" class="control-label">Version Files</label>
      <div class="controls">
        <div id="version-files" class="form-inline">
          <input placeholder="**/AssemblyInfo.cs" ng-model="new_assembly_version_file">
          <button class="btn btn-primary" ng-disabled="!new_assembly_version_file" ng-click="addAssemblyVersionFile()">Add</button>
        </div>
        <p class="help-block">
          Specify files that hold the assembly version attributes that will be updated. If the attribute is not in a file, it will <strong>not be added</strong>.<br/>
        </p>
      </div>
      <ul class="targets unstyled">
        <li ng-repeat="item in config.assemblyVersionFiles">
          <code>
            <span class="remove">
              <span class="clickable" ng-click="removeAssemblyVersionFile($index)">
                <i class="fa fa-times"></i>
              </span>
            </span>
            [[ item ]]
          </code>
        </li>
        <li ng-hide="config.assemblyVersionFiles.length"><em>No Version Files specified. Using default patterns:</em><br/><code>**/AssemblyInfo.cs</code><br/><code>**/AssemblyInfo.vb</code></li>
      </ul>
    </div>
    <h4>msbuild Options</h4>
    <div class="form-group">
      <label for="msbuildVersion" class="control-label">Version</label> 
      <div class="controls">
        <select id="msbuildVersion" ng-change="save()" ng-model="config.msbuildVersion" ng-options="value for value in ['Whatever', '2.0', '3.5', '4.0', 'Visual Studio 2013', 'Custom']"></select>
        <br />
        <input class="input-xlarge" ng-model="config.customMsbuildPath" ng-show="config.msbuildVersion == 'Custom'">
        <p class="help-block">
          Select <em>Whatever</em> if the version of <code>msbuild</code> you wish to build with is in the path.<br/>
          Select <em>Custom</em> if you have installed <code>msbuild</code> to a non-standard location (especially for versions of Visual Studio starting with 2013, since they now package <code>msbuild</code>, instead of it being in the framework), or if you just want to specify where <code>msbuild</code> is located. This should be the full path to the file, including <code>msbuild.exe</code>. 
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="config" class="control-label">Configuration</label>
      <div class="controls">
        <select id="config" ng-change="save()" ng-model="config.configuration" ng-options="value for value in ['Default', 'Debug', 'Release', 'Custom']"></select>
        <input class="input-large" ng-model="config.customConfiguration" ng-hide="config.configuration != 'Custom'">
        <p class="help-block">
          Specify which configuration to build. Most projects only
          have Debug and Release specified, but you can use
          custom configurations by selecting custom.
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="arch" class="control-label">CPU Architecture</label>
      <div class="controls">
        <select id="arch" ng-change="save()" ng-model="config.platform" ng-options="value for value in ['Default', 'Any CPU', 'x86', 'x64', 'ARM', 'Custom']"></select>
        <input class="input-large" ng-model="config.customPlatform" ng-hide="config.platform != 'Custom'">
        <p class="help-block">
          Specify which CPU architecture to build for. This must be
          defined in the project, or there will be a build error (unless 
          you specify Default, as strider will not specify a platform).
        </p>
      </div>
    </div>
    <div class="form-group">
      <label for="targets" class="control-label">Build Targets</label>
      <div class="controls">
        <div id="targets" class="form-inline">
          <input placeholder="Target" ng-model="new_target">
          <button class="btn btn-primary" ng-disabled="!new_target" ng-click="addTarget()">Add</button>
        </div>
        <p class="help-block">
          Specify which targets you wish to build. Common targets are Clean, Build, Rebuild.
        </p>
      </div>
      <ul class="targets unstyled">
        <li ng-repeat="item in config.targets">
          <span class="remove">
            <span class="clickable" ng-click="removeTarget($index)">
              <i class="fa fa-times"></i>
            </span>
          </span>
          [[ item ]]
        </li>
        <li ng-hide="config.targets.length"><em>No targets specified. Generally Build is the default target.</em></li>
      </ul>
    </div>
    <div class="form-group">
      <label for="params" class="control-label">Additional Parameters</label>
	    <div class="controls">
        <div class="form-inline">
          <input placeholder="Property Name" ng-model="new_property_name">
          <input placeholder="Property Value" ng-model="new_property_value">
          <button class="btn btn-primary" ng-disabled="!new_property_name || !new_property_value" ng-click="addCustomProperty()">Add</button>
        </div>
        <p class="help-block">
          You can specify additional properties to pass to <code>msbuild</code> here.
          They are passed to <code>msbuild</code> like: /p:PROPERTYNAME=PROPERTYVALUE.
          Strider will use quotes on the property name and value if appropriate.
        </p>
      </div>
      <ul class="targets unstyled">
        <li ng-repeat="item in config.customProperties">
          <span class="remove">
            <span class="clickable" ng-click="removeCustomProperty($index)">
              <i class="fa fa-times"></i>
            </span>
          </span>
          [[ item.name ]]=[[ item.value ]]
        </li>
        <li ng-hide="config.customProperties.length"><em>No custom properties added.</em></li>
      </ul>
    </div>
  </fieldset>
</div>